<h2>Please enter the new event information:</h2>

<form action="/save_event">
  <input type="text" placeholder="Enter name" name="name">
  <input type="number" placeholder="Enter application id" name="applications_id">
  <input type="number" placeholder="Enter date" name="date">
  <input type="text" placeholder="Check in time" name="check_in_time">
  <input type="number" placeholder="Enter location ID" name="locations_id">
  <input type="text" placeholder="ammenities" name="ammenities">
  <input type="text" placeholder="Contact email address" name="contact_email">
  <input type="text" placeholder="Contact phone" name="contact_phone">
  
  <input type="submit">
</form>
