<h2>Click the event you would like to delete:</h2>

<ul>
  <% Event.all_sorted_by_date.each do |event| %>
  <li><a href="/delete_event/<%= event.id %>"> <%= event.name %> - <%= event.applications_id %> - <%= event.event_date %></a></li>
  <% end %>
</ul>