<h1>Event Menu</h2>
  
<h2>What would you like to do:</h2>

<ul>
  <li><a href="/add_event">Add an event</a></li>
  <li><a href="/view_event_list/:x">View event list</a></li>
  <li><a href="/update_event">Update an event</a></li>
  <li><a href="/delete_event/:x">Delete an event</a></li>
</ul>