<h2>Click the event you wish to update:</h2>

<ul>
  <% Event.all_sorted_by_date.each do |event| %>
  <li><a href="/update_event_form/<%= event.id %>"> <%= event.name %> - <%= event.applications_id %> - <%= event.event_date %></a></li>
  <% end %>
</ul>