<h2>Please fill in the information for the new location:</h2>

<form action="/save_location">
  <input type="text" placeholder="City" name="city">
  <input type="number" placeholder="State" name="state">
  <input type="text" placeholder="Address" name="aaddress">
  
  <input type="submit">
  
</form>