<h1>Location Menu</h1>
<h2>What would you like to do:</h2>

<ul>
  <li><a href="add_location">Add a location</a></li>
  <li><a href="list_locations">View locations list</a></li>
  <li><a href="delete_location_list">Delete a location</a></li>
</ul>