<!doctype html>
<html>
  <head>
    <title>Artist Scheduler</title>
    
    <link rel="stylesheet" href="/global.css">
  </head>
  <body class = background1>
    <%= yield %>
    <script src="/global.js"></script>
  </body>
</html>