html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: Copperplate, "Copperplate Gothic Light", fantasy;
  color: white;
}

body p {
  font-family: Rokkit;
  font-size: 25px;
  text-align: left;
  padding-left: 10px;
}

.centered {
  text-align: center;
}

#menu {
  width: 300px;
  height: 180px;
  background-color: coral;
  z-index: 1000;
  position: fixed;
  left: 68px;
}

#menu li {
  border-style: solid;
  border-color: #6C5A80;
}

#menu ul {
  list-style-type: none;
  padding-left: 0px;
  font-size: 33px;
  margin-top: 0px;
  color: white;
  
}

#menu-bar{
  background-color: coral;
}
  
@media (min-width: 800px) {
#menu ul {
  width: 20%;
  padding-top: 20px;
}
  
#menu li {
  height: 30px;
  font-size: 15px;
}
  
.main-p p{
  width: 80%;
}
}

.background1 {
background-color: teal;
}

a:link {
text-decoration: none;
color: #000000;
}

a:visited {
text-decoration: none;
}

a:hover {
text-decoration: underline;
}

a:active {
text-decoration: underline;
}

div {
padding: 10px;
text-size: 30px;
}

table, th, td {
border: 1px solid #6C5A80;
background-color: #EEEAE2;
width: 450px;
text-align: center;
margin: 10px;
}

th {
background-color: #6C5A80;
}

.field_error{
border-color: red;
}