<h1 class= centered>Add Event Menu</h1>
  
<h2 class= centered>What would you like to do:</h2>

<nav class= centered>
  <ul>
    <li><a href="/add_event">Add an event</a></li>
    <li><a href="/add_application">Add an application</a></li>
    <li><a href="/add_location">Add a location</a></li>
    <li><a href="/add_travel">Add travel plans</a></li>
  </ul>
</nav>

<div class= centered><a href="/home">Main Menu</a></div>