<h1>Add Event Menu</h2>
  
<h2>What would you like to do:</h2>

<ul>
  <li><a href="/add_event">Add an event</a></li>
  <li><a href="/add_application">Add an application</a></li>
  <li><a href="/add_location">Add a location</a></li>
  <li><a href="/add_travel">Add travel plans</a></li>
</ul>

<a href="/home">Main Menu</a>