<h1>Welcome to the Artist Scheduler</h1>

<h2>Main Menu</h2>

<ul>
  <li><a href="/app_menu">Application Menu</a></li>
  <li>Event Menu</li>
  <li><a href="/travel_menu">Travel Menu</li>
  <li><a href="/location_menu">Location Menu</a></li>
</ul>