<h1>Update Event Menu</h1>
<h2>What would you like to do:</h2>

<ul>
  <li><a href="update_event">Update an event</a></li>
  <li><a href="update_application">Update an application</a></li>
  <li><a href="update_travel_list">Update travel plans</a></li>
  
</ul>

<a href="/home">Main Menu</a>