<h2>View Event Menu</h2>

<ul>
  <li><a href="/view_even_list/:x">View event List</a></li>
  <li><a href="/view_application_list/:x">View an applilcation</a></li>
  <li><a href="/list_locations">View a location list</a></li>
  <li><a href="/travel_list">View travel plans</a></li>
</ul>

<a href="/home">Main Menu</a>