<h1 class= centered>View Event Menu</h1>

<h2 class= centered>What would you like to do:</h2>

<nav class= centered>
  <ul>
    <li><a href="/view_event_list/:x">View event list</a></li>
    <li><a href="/view_application_list/:x">View an applilcation</a></li>
    <li><a href="/list_locations">View a location list</a></li>
    <li><a href="/travel_list">View travel plans</a></li>
  </ul>
</nav>

<div class= centered><a href="/home">Main Menu</a></div>