<h2>Application Menu</h2>

<ul>
  <li><a href="/add_application">Add a new application</a></li>
  <li><a href="/view_application_list">View an application</a></li>
  <li><a href="/update_application">Update an application</a></li>
  <li><a href="/delete_application">Delete an application</a></li>
</ul>

<a href="/home">Main Menu</a>