<h2>Application Menu</h2>

<ul>
  <li>Add a new application</li>
  <li>View an application</li>
  <li>View applications in order of due date</li>
  <li>Update an application</li>
  <li>Delete an application</li>
</ul>