<h1 class= centered>Warning: This application can not be deleted. The application was accepted or not avaliable yet. If you wish to delete this application, please change the accepted status.</h1>

<div class= centered><a href="/home">Main Menu</a></div>