<h2>Please enter the new application information:</h2>

<form action="/change_app/<%= params["x"] %>">
  <select name="edit">
    <option value="application_fee">application_fee</option>
    <option value="event_fee">event fee</option>
    <option value="submitted">submitted</option>
    <option value="accepted">accepted</option>
    <option value="due_date">due date</option>
    <option value="application_details">application details</option>
   </select>
   
   <input type="text" name="new_input" placeholder="new info">
     
    <input type="submit">
</form>

