<h2>Click the travel plans you would like to view:</h2>

<ul>
  <% Travel.sorted_event.each do |travel| %>
  <li><a href="/view_travel/<%= travel.id %>"> <%= travel.id %>. <%= travel.events_id %> -  <%= app.locations_id %></a></li>
  <% end %>
</ul>


  