<h1>Travel Menu</h1>

<h2>What would you like to do:</h2>

<ul>
  <li><a href="/add_travel">Add new travel plans</a></li>
  <li><a href="/travel_list">View travel plans</a></li>
  <li><a href="/update_travel_list">Update travel plans</a></li>
  <li><a href="/delete_list">Delete travel plans</a></li>
</ul>

<a href="/home">Main Menu</a>