<h2>Click the travel plans you wish to update:</h2>

  <table>
    <tr>
      <th>ID</th>
      <th>Event ID</th>
      <th>Location ID</th>
    </tr>
  <% Travel.sorted_event.each do |travel| %>
    <tr>
      <td>
        <a href="/update_form_travel/<%= travel.id %>"> 
          <%= travel.id %>
        </a>
      </td>
      <td><%= travel.events_id %></td>
      <td><%= travel.locations_id %></td>
    </tr>
    <% end %>
  </table>